@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Lobster&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');
body{
    background: linear-gradient(#0e7391, #e07bb2, #f5a13b) no-repeat;
    min-height: 100vh;

    div{
        form{
            margin-top: 30px;
            text-align: center;
            input{
                background-color: #00a8ff;
                border-radius: 12px;
                border: none;
                text-align: center;
                font-family: 'Quicksand', sans-serif;
                font-weight: bolder;
                margin-bottom: 5px;
                height: 35px;
            }
            button{
                background-color: #0266c8;
                border: none;
                border-radius: 25px;
                height: 35px;
                width: 100px;
                cursor: pointer;
                &:hover{
                    color: #ffffff;
                    background-color: #db3eb1;
                }
            }
        }
    }
    div:nth-child(2){
        margin-top: 20px;
        text-align: center;
        .event-description{
            padding-bottom: 15px;
            font-family: Asap, sans-serif;
        }
        div{
            background-color: #f4afc3d5;
            border-radius: 12px;
            margin-left: 125px;
            margin-right: 125px;
            // align-items: center;
            // align-content: center;
            // max-width: 250px;
        }
        h2{
            font-family: 'Lobster', cursive;
        }
        
        .delete-button{
            margin-top: 10px;
            width: 70px;
            font-family: 'Kanit', sans-serif;
            background-color:  	#b28bc0;
            border: none;
            border-radius: 5px;
            cursor: grab;
            transition: all .2s ease-in-out;
            &:hover {
                transform: scale(1.2);
                background-color: #dd6070;
              }
        }
        
}
}
